::view-transition-group(*) {
  animation-duration: 0.4s;
}

:root {
  view-transition-name: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;  
  scrollbar-gutter: stable;
}
.column-count,
.task-card {
  view-transition-name: match-element;
}

:active-view-transition-type(move) {
  cursor: grabbing;
}
:active-view-transition-type(settle) {
  cursor: auto;
}

:active-view-transition-type(move) {
  &::view-transition-group(active-card) {
    top: var(--top);
    left: var(--left);
    z-index: 1;
  }
}

::view-transition-new(.card):only-child {
  animation-name: card-insert;
}
@keyframes card-insert {
  from {
    transform: translateY(-100%);
    scale: 0;
  }
}
