# build output
dist/
rag/
# generated types
.astro/
.vscode/
# dependencies
node_modules/
tmp
txt

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# rollup-plugin-visualizer
stats.html
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
