---
import Layout from "./_VanillaLayout.astro";
import Description from "./_Description.astro";
import Bsky from "@/components/Bsky.astro";
---

<Layout title="Vanilla Element Crossing 1/2 | @vtbag">
  <h1>Vanilla Element Crossing Demo 1/2</h1>
  <Bsky />
  <Description />
</Layout>
