<!DOCTYPE html>
<!--
 Copyright 2026 Google LLC
 SPDX-License-Identifier: Apache-2.0
-->
<!-- martrapp: adopted script and links to demonstrate vtbags link-types -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation Types Demo - Detail 2</title>
    <link rel="stylesheet" href="/navigation-types/styles.css">
    <script is:inline src="/navigation-types/link-types.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
        <a href="../../demo/">Home</a>
        <a href="../../about/">About</a>
    </nav>
    <div class="monster-detail">
        <h1>Fluffy</h1>
        <img src="../../images/fluffy.png" alt="Fluffy" id="fluffy">
        <p>Fluffy is the galaxy’s kindest diplomat, known for her incredible ability to make anyone feel safe and loved instantly. She communicates through heartwarming hums and gentle vibrations that soothe the soul, ensuring that everyone around her feels perfectly at home.</p>
    </div>
    <div class="back-nav">
        <a data-vtbag-link-types="details"  href="../../demo/" class="back-btn">&larr; Back to Monsters</a>
    </div>
</body>
</html>
