<!DOCTYPE html>
<!--
 Copyright 2026 Google LLC
 SPDX-License-Identifier: Apache-2.0
-->
<!-- martrapp: adopted script and links to demonstrate vtbags link-types -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Navigation Types Demo - Detail 4</title>
    <link rel="stylesheet" href="/navigation-types/styles.css">
    <script is:inline src="/navigation-types/link-types.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav>
        <a href="../../demo/">Home</a>
        <a href="../../about/">About</a>
    </nav>
    <div class="monster-detail">
        <h1>Spike</h1>
        <img src="../../images/spike.png" alt="Spike" id="spike">
        <p>Despite the edgy name and actual spikes, Spike is actually a gentle nature-lover who spends his time singing lullabies to sleeping stars to ensure they have sweet dreams. He is widely considered the best listener in the universe, possessing a patient and thoughtful demeanor that makes him the perfect confidant.</p>
    </div>
    <div class="back-nav">
        <a data-vtbag-link-types="details" href="../../demo/" class="back-btn">&larr; Back to Monsters</a>
    </div>
</body>

</html>