---
import Layout from "./_Layout.astro";
import { Image } from "astro:assets";
import Content from "./_1.mdx";
import i1 from "./_400_1.webp";
---

<Layout title="Image Slider Demo">
  <main>
    <h1>Image 1</h1>
    <a href="/viewer-demo/3/" data-vtbag-link-types="prev/next">Prev</a>
    <a href="/viewer-demo/">All</a>
    <a href="/viewer-demo/2/" data-vtbag-link-types="next/prev">Next</a>
    <Image
      src={i1}
      alt="Image 1"
      width="300"
      height="400"
    />
    <div style="max-width: 600px; margin-inline:auto"><Content/></div>
  </main>
</Layout>
<style is:global>
  main > img {
    view-transition-name: img1;
  }
</style>

