---
import Layout from "./_Layout.astro";
import { Image } from "astro:assets";
import Content from "./_2.mdx";
import i2 from "./_400_2.webp";
---

<Layout title="[2/3] Image Viewer Demo">
  <main>
    <h1>Image 2</h1><a href="/viewer-demo/">Back</a><br/>
    <a href="/viewer-demo/1/" data-vtbag-link-types="next/prev">Prev</a>
    <a href="." data-vtbag-link-types="same">Same</a>
    <a href="/viewer-demo/3/" data-vtbag-link-types="prev/next">Next</a>
    <a href="." data-vtbag-link-types="same">
      <Image src={i2} alt="Image 2" width="300" height="400" />
    </a>
    <div style="max-width: 600px; margin-inline:auto"><Content /></div>
  </main>
</Layout>
<style is:global>
  main img {
    view-transition-name: img2;
  }
</style>
