---
import Layout from "./_Layout.astro";
import { Image } from "astro:assets";
import Content from "./_3.mdx";
import i3 from "./_400_3.webp";
---

<Layout title="[3/3] Image Viewer Demo">
  <main>
    <h1>Image 3</h1>
    <a href="/viewer-demo/2/" data-vtbag-link-types="prev/next">Prev</a>
    <a href="/viewer-demo/">All</a>
    <a href="/viewer-demo/1/" data-vtbag-link-types="next/prev">Next</a>
    <Image
      src={i3}
      alt="Image 3"
      width="300"
      height="400"
    />
    <div style="max-width: 600px; margin-inline:auto"><Content/></div>
  </main>
</Layout>
<style is:global>
  main > img {
    view-transition-name: img3;
  }
</style>
