---
import Layout from "./_Layout.astro";
import { Image } from "astro:assets";
import i1 from "./_200_1.webp";
import i2 from "./_200_2.webp";
import i3 from "./_200_3.webp";
---

<Layout title="Image Viewer Demo">
  <main style="max-width:910px;">
    <h1>Image Viewer Demo</h1>
    <p>
      This tech demo uses <b>links annotated with view transition types</b> for
      fine grained control over <b>browser-native cross-document</b> view
      transitions. Click the left image!
    </p>
    <span style="view-transition-name: viewer;width: fit-content">
      <a href="/viewer-demo/1/"
        ><Image src={i1} alt="Image 1" width="300" height="200" /></a
      ><a href="/viewer-demo/2/">
        <Image src={i2} alt="Image 2" width="300" height="200" /></a
      ><a href="/viewer-demo/3/">
        <Image src={i3} alt="Image 3" width="300" height="200" /></a>
      </span><p>
      [Return to the <a href="/tools/turn-signal/#link-types"
        >turn-signal page</a
      >]
    </p>
  </main>
</Layout>

<style is:global>
  main {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  a img {
    display: inline;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 8vw;
  }
  a:nth-of-type(1) img {
    view-transition-name: img1;
  }
  a:nth-of-type(2) img {
    view-transition-name: img2;
  }
  a:nth-of-type(3) img {
    view-transition-name: img3;
  }
  :active-view-transition-type(open)::view-transition-group(*) {
    animation-duration: 1s;
  }

</style>
