---
import Layout from "./_PlainLayout.astro";
import Description from "./_Description.astro";
---

<Layout title="Cross-document View Transition 1/2 | @vtbag">
  <h1>Plain Cross-document View Transitions 1/2</h1>
  <Description />
</Layout>
