---

---
<div class="tabs">
  <div class="tab active" data-tab="tab1">Dad Jokes</div>
  <div class="tab" data-tab="tab2">Punny Puns</div>
</div>
<div class="tab-content active" id="tab1">
  <p>Why don't skeletons fight each other?<br>They don't have the guts.</p>
  <p>I'm reading a book on anti-gravity.<br>It's impossible to put down!</p>
</div>
<div class="tab-content" id="tab2">
  <p>I'm on a seafood diet.<br>I see food and I eat it.</p>
  <p>
    Why don't some couples go to the gym?<br>Because some relationships don't
    work out.
  </p>
</div>
<script is:inline>
  const mayViewTransition = (fun) =>
    document.startViewTransition ? document.startViewTransition(fun) : fun();

  document.querySelectorAll(".tab").forEach((tab) => {
    tab.addEventListener("click", () => {
      mayViewTransition(() => {
        document
          .querySelectorAll(".tab, .tab-content")
          .forEach((el) => el.classList.remove("active"));
        tab.classList.add("active");
        document
          .getElementById(tab.getAttribute("data-tab"))
          .classList.add("active");
      });
    });
  });
</script>
