---
import Demo from '@/layouts/DemoLayout.astro';
import Tabs from "./_Tabs.astro"
---

<Demo title="View Transition Example: Basic Same-Document" backlink='/basics/examples/#basics' prev="" next="/demo/BasicAS/"
  description="This demo features a same-document view transition with the default morph animation."
  image="/bag-og.png">
  <p>
    This example demonstrates the default cross-over effect of view transitions. Press the brownish tab header to start the transition.
  </p>
  <Tabs />
  <style is:inline slot="late-head">
    .tab {
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;
      background-color: #887;
      border: 1px solid #887;
      border-bottom: none;
    }
    .tab.active {
      background-color: #797;
      border-bottom: 1px solid #797;
    }
    .tab-content {
      display: none;
      padding: 20px;
      border: 1px solid #888;
    }
    .tab-content.active {
      display: block;
    }
  </style></Demo
>
