@property --vtbag-bg-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #102030;
}
@property --sl-color-text {
  syntax: "<color>";
  inherits: true;
  initial-value: #102030;
}

:root {
  transition: --sl-color-text 2s;
  scrollbar-gutter: stable;
  hyphens: auto;
  --sl-sidebar-width: 24rem;
}

body {
  text-align: left;
  hyphens: auto;
  --sl-line-height: 1.5;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #3b1a00;
  --sl-color-accent: #998877;
  --sl-color-accent-high: #a98b6c;
  --sl-color-white: #ddccbb;
  --sl-color-gray-1: #f2eeec;
  --sl-color-gray-2: #c7c2c0;
  --sl-color-gray-3: #968b88;
  --sl-color-gray-4: #615854;
  --sl-color-gray-5: #513835;
  --sl-color-gray-6: #12100e;
  --sl-color-gray-6-rgb: 18, 16, 14;
  --sl-color-black: #101010;
  --vtbag-bg-color: var(--sl-color-bg-nav);
  --vtbag-glow: radial-gradient(circle, #103050 50%, #081828 100%);
  --vtbag-glow-shadow: 0 0 10px #08f, 0 0 20px #08f, 0 0 30px #08f,
    0 0 40px #08f;

  --sl-color-purple-low: #19052b;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #ecccbc;
  --sl-color-accent: #706050;
  --sl-color-accent-high: #908570;
  --sl-color-white: #606060;
  --sl-color-gray-1: #2f2724;
  --sl-color-gray-2: #413835;
  --sl-color-gray-3: #615854;
  --sl-color-gray-4: #968b88;
  --sl-color-gray-5: #c7c2c0;
  --sl-color-gray-6: #fff0e0;
  --sl-color-gray-6-rgb: 255, 240, 224;
  --sl-color-gray-7: #f8f6f5;
  --sl-color-black: #ffffff;
  --sl-color-hairline-light: #ccc;
  --vtbag-bg-color: var(--sl-color-bg-nav);
  --vtbag-glow: radial-gradient(circle, #c0d0e0 50%, #d8e8f8 100%);
  --vtbag-glow-shadow: 0 0 20px #cccc, 0 0 40px #ca88, 0 0 50px #c966,
    0 0 60px #c844;

  --sl-color-purple-low: #e6d1f9;
}

header,
body,
main,
.sidebar-pane,
.right-sidebar {
  background-color: var(--vtbag-bg-color);
}

section.footnotes:before {
  content: "Footnotes:";
  margin-top: 0.5em;
  display: block;
}
sup {
  font-size: 0.6em;
  vertical-align: super;
  line-height: 0;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
section.footnotes {
  border-top: 1px solid var(--sl-color-gray-4);
}

a {
  text-decoration: underline dotted;
}
:is(nav, footer, h1, h2, h3, h4, h5, h6) a {
  text-decoration: none;
}
a.data-footnote-backref {
  text-decoration: none;
}

:root[data-theme="light"] main ::target-text {
  background-color: yellow;
  color: #000;
}

:root[data-theme="dark"] main ::target-text {
  background-color: darkslateblue;
  color: #fff;
}

.sl-markdown-content code:not(:where(.not-content *)) {
  background-color: #8883;
  padding: 0 0;
  font-size: var(--sl-text-code);
}

nav ::-webkit-scrollbar {
  width: 8px;
}
nav ::-webkit-scrollbar {
  background-color: var(--vtbag-bg-color);
}
nav ::-webkit-scrollbar-thumb {
  background-color: var(--vtbag-bg-color);
}
nav:hover ::-webkit-scrollbar {
  background-color: var(--sl-color-gray-6);
}
nav:hover ::-webkit-scrollbar-thumb {
  background-color: var(--sl-color-gray-5);
}

starlight-menu-button button {
  background-color: var(--sl-color-gray-3);
}

.site-title img {
  border-radius: 50%;
  border: 4px dashed #8888;
  mask-image: radial-gradient(ellipse at center, white 35%, transparent 71%);
}

.hero img {
  transform: rotate(10deg);
  mask-image: radial-gradient(ellipse at center, white 35%, transparent 71%);
}

.hero h1 {
  color: var(--sl-color-text-accent);
  margin-top: 1.5rem;
}

h1 {
  display: inline-block;
}
::view-transition-old(title-heading),
::view-transition-new(title-heading) {
  height: 100%;
  width: 100%;
}
.hero .action {
  color: var(--sl-color-accent-high);
  font-size: large;
}

.hero .actions .primary {
  border: none;
  background-color: var(--sl-color-accent-low, rgb(85, 45, 25));
  color: var(--sl-color-accent-high);
  box-shadow:
    var(--sl-color-accent-low) 2px 2px 5px 2px,
    var(--sl-color-text-accent) 0px 0px 5px 2px;
}
.hero .actions .primary:hover {
  color: var(--sl-color-white);
}
h1 {
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
li a[aria-current="page"]:hover,
li a[aria-current="page"]:focus,
li a[aria-current="page"] {
  background-color: var(--sl-color-gray-5);
  color: var(--sl-color-gray-2);
}

main kbd {
  display: inline-block;
  padding: 0.1em 0.4em;
  margin: 0 0.1em !important;
  font-size: 0.85em;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: "Courier New", Courier, monospace;
}
:root[data-theme="dark"] main kbd {
  color: #fff;
  background-color: #333;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

:root {
  font-size: 12px;
}

@media (min-width: 50em) {
  :root {
    font-size: 16px;
  }
}
