#starlight__sidebar {
  scrollbar-gutter: stable;
}

li :has(> a[aria-current="page"]) {
  display: inline-block;
}
li a[aria-current="page"] {
  background-color: transparent;
  border-radius: 0;
  &:hover {
    border-radius: 0;
    background-color: transparent;
  }
  border-bottom: 1pt solid var(--sl-color-hairline-light);
  &:after {
    content: "⭐";
    margin-left: 0.5em;
    position: absolute;
  }
}
:active-view-transition-type(forward, backward) li a[aria-current="page"] {
  view-transition-name: current-page;
  &:after {
    view-transition-name: current-page-star;
  }
}

::view-transition-old(current-page),
::view-transition-new(current-page) {
  height: auto;
  width: auto;
}

::view-transition-image-pair(current-page) {
  animation: 250ms ease-in-out both current-page;
}

@keyframes current-page {
  50% {
    transform: translateX(-30%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    interpolate-size: allow-keywords;
  }
}
details {
  overflow: clip;
}
details::details-content {
  transition:
    transform 0.2s,
    opacity 0.2s,
    block-size 0.2s,
    content-visibility 0.2s allow-discrete;
  transition-timing-function: ease-in;
  block-size: 0;
  opacity: 0;
  transform: translateX(-30px);
}
details[open]::details-content {
  transition-timing-function: ease-out;
  block-size: auto;
  opacity: 1;
  transform: none;
}
