---
import Layout from "./_Layout.astro";
import { Image } from "astro:assets";
import chamber from "../../assets/cards/chamber.png";
---

<Layout title="The Inspection Chamber">
  <a href="/tools/inspection-chamber/"><Image src={chamber} alt="The Bag's Inspection Chamber" /></a>
</Layout>
