---
import Layout from "./_Layout.astro";
import { Image } from "astro:assets";
import shaft from "../../assets/cards/shaft.png";
---

<Layout title="The Cam-Shaft">
  <a href="/tools/cam-shaft/"><Image src={shaft} alt="The Bag's Cam-Shaft" /></a>
</Layout>
