---
import Layout from "./_Layout.astro";
import { Image } from "astro:assets";
import signal from "../../assets/cards/signal.png";
---

<Layout title="The Turn-Signal">
  <a href="/tools/turn-signal/"><Image src={signal} alt="The Bag's Turn-Signal" /></a>
</Layout>
