---
import Crossing from "astro-vtbot/components/ElementCrossing.astro";
---

<html>
  <head>
    <Crossing experimentalFeatures />
    <title>Test X</title>
  </head>
  <body>
    <button data-vtbag-x="#button &button">alert</button>
    <script>
      document
        .querySelectorAll<HTMLButtonElement>("button")
        .forEach((b) =>
          b.addEventListener("click", () => (b.innerText = "" + new Date()))
        );
    </script>
    <p id="p">no color</p>
    <a href="/test/y/">goto y</a>
  </body>
</html>
