---
import Crossing from "astro-vtbot/components/ElementCrossing.astro";
---

<html>
  <head>
    <Crossing experimentalFeatures />
    <title>Text Y</title>
  </head>
  <body>
    <span data-vtbag-x="#button &button">huch</span>
    <a href="/test/x/">goto x</a>
    <script>
      document
        .querySelectorAll<HTMLButtonElement>("button")
        .forEach((b) =>
          b.addEventListener("click", () => (b.innerText = "" + new Date()))
        );
    </script>
  </body>
</html>
