---
import Crossing from "astro-vtbot/components/ElementCrossing.astro";
---

<html>
  <head>
    <Crossing />
    <title>Text Z</title>
  </head>
  <body>
    <span data-vtbag-x="#button">span1</span>
    <a href="/tests/y/">goto y</a>
    <p id="p" data-vtbag-x="-color">p1</p>
    <script>
      document
        .querySelectorAll<HTMLButtonElement>("button")
        .forEach((b) =>
          b.addEventListener("click", () => (b.innerText = "" + new Date()))
        );
    </script>
  </body>
</html>
