---
import Layout from "./_Layout.astro";
import Description from "./_Description1.astro";
---

<Layout title="Pseudo-Smooth-Scrolling Demo 1/2 | @vtbag">
  <h1>Pseudo-Smooth-Scrolling Demo 1/2</h1>
  <Description />
</Layout>
