---
import Layout from "./_Layout.astro";
import Description from "./_Description2.astro";
import Bsky from "@/components/Bsky.astro";
---

<Layout title="Pseud-Smooth-Scrolling Demo 2/2 | @vtbag">
  <h1>Pseud-Smooth-Scrolling Demo 2/2</h1>
  <Bsky />
  <Description />
</Layout>
