---
import Layout from "./_OverTheTopLayout.astro";
import Description from "./_Description.astro";
import Bsky from "@/components/Bsky.astro";
---

<Layout title="Over-the-Top Element Crossing 2/2 | @vtbag">
  <script is:inline slot="head">
    addEventListener("pagereveal", () => {
      const video = document.querySelector("video");
      video.parentElement.insertAdjacentElement("beforeend", video);
    });
  </script>
  <h1>Experimental Over-the-Top Element Crossing Demo 2/2</h1>
  <Bsky />
  <Description />
</Layout>
