---
export interface Props {
  text: string;
}
const { text } = Astro.props;
const encodedText = encodeURIComponent(text);
---

<a target="_blank" href={`https://bsky.app/intent/compose?text=${encodedText}`}><slot /></a>
