---

---

<div
  id="cta"
  style="padding: 10px 20px 20px; border:12px dotted orange; width: max-content; border-radius:20px;font-size:32px;transform:rotate(3deg) translateY(20px) translateX(40px)"
>
  <slot />
</div>
<style is:global>
  #cta {
    view-transition-name: cta;
  }
  ::view-transition-group(cta) {
    animation-duration: 500ms;
  }
  ::view-transition-old(cta) {
    animation-name: cta-out;
    animation-timing-function: linear;
  }
  ::view-transition-new(cta) {
    animation-name: cta-in;
    animation-timing-function: linear;
  }
  @keyframes cta-out {
    50% {
      transform: rotateX(90deg);
      opacity: 1;
    }
    50.01% {
      opacity:0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes cta-in {
    0% {
      opacity: 0;
    }
    49.99% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
</style>
