---
import LeaveDemoLink from "./LeaveDemoLink.astro";

export interface Props {
  backlink: string;
  prev: string;
  next: string;
}
const { backlink, prev, next } = Astro.props;
---

<div class="demonav">
  <LeaveDemoLink href={prev}>Prev</LeaveDemoLink><LeaveDemoLink href={backlink}>
    Back to the example list
  </LeaveDemoLink><LeaveDemoLink href={next}>Next</LeaveDemoLink>
</div>
<style is:global>
  .demonav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
  }
</style>
