---
export interface Props {
  id: string;
  href: string;
}
const { id, href } = Astro.props;
---

<a class="demolink" {id} {href}><slot /></a>

<style is:global>
  .demolink:focus-visible {
    color: var(--color-primary);
    text-decoration: none;
    outline: none
  }
</style>
