<nav class="episodes">
  <div>
    <slot />
  </div>
  <a href="/fwvt/welcome/">Back to the episode overview</a>
</nav>

<portal-gate to="end:head">
  <style is:global>
    :root {
      view-transition-name: none;
    }
    nav.episodes {
      view-transition-name: episode-nav;
      background-color: light-dark(
        var(--sl-color-gray-6),
        var(--sl-color-gray-6)
      );
      font-size: 0.75rem;
      border-radius: 2em;
      padding: 1.5em 1em 2em;
      box-shadow: 0 4px 8px #8888;
      & div {
        width: fit-content;
        margin-inline: auto;
        background-color: var(--sl-color-gray-5);
        border-radius: 1em;
        padding: 0em 0.33em;
      }
      & > a {
        color: var(--sl-color-text-accent);
        text-decoration: dotted underline;
        font-size: 0.8em;
        margin-top: 0.5em;
        display: inline-block;
        float: right;
      }
    }

    nav.episodes span {
      margin: 0.5em;
      border-radius: 2em;
      padding: 10px 20px;
      background-color: transparent;
      color: light-dark(#000, #fff);
      view-transition-class: episode-nav-span;
      &.selected {
        background-color: var(--sl-color-gray-3);
        view-transition-name: episode-nav-selected;
        a {
          color: var(--sl-color-black);
        }
      }
      a {
        color: var(--sl-color-white);
        view-transition-class: episode-nav-a;
        text-decoration: none;
      }
    }

    ::view-transition-group(episode-nav-selected) {
      animation-duration: 0.25s;
      animation-timing-function: ease-in-out;
      z-index: 1;
    }
    ::view-transition-old(episode-nav-selected),
    ::view-transition-new(episode-nav-selected) {
      height: 100%;
      width: auto;
    }
    ::view-transition-group(.episode-nav-a) {
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      z-index: 2;
    }
    ::view-transition-old(.episode-nav-a):only-child {
      animation: 0.5s shrink both;
    }
    ::view-transition-new(.episode-nav-a):only-child {
      animation: 0.5s grow both;
    }
    @keyframes shrink {
      to {
        transform: scale(0);
        opacity: 0;
      }
    }
    @keyframes grow {
      from {
        transform: scale(0);
        opacity: 0;
      }
      25% {
        transform: scale(0);
        opacity: 0;
      }
      75% {
        transform: scale(1.5);
        opacity: 1;
      }
    }
  </style>

  <script is:inline>
    addEventListener("pagereveal", () => {
      document.querySelectorAll("nav.episodes span a").forEach((a) => {
        a.style.viewTransitionName = `episode-nav-a-${a.textContent.toLowerCase()}`;
      });
      document
        .querySelector("h1")
        ?.insertAdjacentElement(
          "beforebegin",
          document.querySelector("nav.episodes")
        );
    });
  </script>
</portal-gate>
