---
import { spawnSync } from "child_process";
import { basename, dirname } from "path";

let { lang, lastUpdated } = Astro.locals.starlightRoute;
const threshold = Astro.locals.starlightRoute.entry?.data?.updateThreshold;
const published = (f: string) =>
  spawnSync(
    "git",
    [
      "log",
      "--format=%ct",
      "--follow",
      "--diff-filter=A",
      "--max-count=1",
      basename(f),
    ],
    {
      cwd: dirname(f),
      encoding: "utf-8",
    }
  ).stdout?.trim();

const updated = (f: string) => {
  const cmd = `git log --follow --numstat --format=%ct ${basename(f)} |paste -d' ' - - - | awk '$2 - $3 > ${threshold} {print $1; exit}'`;
  const res = spawnSync("bash", ["-c", cmd], {
    cwd: dirname(f),
    encoding: "utf-8",
  }).stdout?.trim();
  return res;
};
const firstPublished = new Date(
  Number(published(Astro.locals.starlightRoute.entry.filePath) + "000")
);
lastUpdated = new Date(
  Number(updated(Astro.locals.starlightRoute.entry.filePath) + "000")
);

const head = Astro.locals.starlightRoute.head;
head.push({
  tag: "meta",
  attrs: {
    property: "og:updated_time",
    content: lastUpdated?.toISOString() ?? "",
  },
});
head.push({
  tag: "meta",
  attrs: {
    property: "article:modified_time",
    content: lastUpdated?.toISOString() ?? "",
  },
});
head.push({
  tag: "meta",
  attrs: {
    property: "article:published_time",
    content: firstPublished.toISOString(),
  },
});
---

{
  lastUpdated && (
    <p style="display: flex; justify-content: space-between; font-size: 0.75rem">
      <span style="view-transition-name: lastUpdated">
        {"Last updated:"}{" "}
        <time datetime={lastUpdated.toISOString()}>
          {lastUpdated.toLocaleDateString(lang, {
            dateStyle: "medium",
            timeZone: "UTC",
          })}
        </time>
      </span>
      <span style="view-transition-name: firstPublished">
        {"First published:"}{" "}
        <time datetime={firstPublished.toISOString()}>
          {firstPublished.toLocaleDateString(lang, {
            dateStyle: "medium",
            timeZone: "UTC",
          })}
        </time>
      </span>
    </p>
  )
}
