---
import StarlightPageTitle from "@astrojs/starlight/components/PageTitle.astro";
import LastUpdated from "./LastUpdated.astro";
---

<div id="vtbag-head-last-update">
  <LastUpdated/>
</div>
<StarlightPageTitle><slot /></StarlightPageTitle>

<style is:global>
  #vtbag-head-last-update {
    color: gray;
  }
</style>

