---

---

<div id="toolsbar">
  <slot />
</div>
<style is:global>
  #toolsbar {
    display: flex;
    flex-wrap: wrap;
  }
  #toolsbar > div:nth-of-type(1) {
    margin-top: 1em;
  }
  #toolsbar > div {
    width: 300px;
    margin-inline: auto;
  }
  .logo img {
    view-transition-name: none;
  }
</style>
<portal-gate to="end:head">
  <script is:inline>
    const mark = (entry) => {
      if (!entry) return null;
      const elem = document.querySelector(
        `#toolsbar > div:has(a[href="${
          new URL(entry.url).pathname
        }"]) > .logo img`
      );
      elem && elem.style.setProperty("view-transition-name", "logo");
      return elem;
    };
    addEventListener("pageswap", (e) => {
      if (e.viewTransition) {
        const elem = mark(e.activation.entry);
        e.viewTransition.finished.then(() =>
          elem?.style.removeProperty("view-transition-name")
        );
      }
    });
    addEventListener("pagereveal", (e) => {
      if (e.viewTransition) {
        const elem = mark("navigation" in window && window.navigation?.activation.from);
        e.viewTransition.finished.then(() =>
          elem?.style.removeProperty("view-transition-name")
        );
      }
    });
  </script>
</portal-gate>
