---
import Layout from "./_Layout.astro";
import Navigation from "./_Navigation.astro";
import Animals from "./_Animals.astro";
import Panel from "./_Panel.astro";
import WaveText from "./_WaveText.astro";
import fishpond from "./_fish-pond.webp";
import "./_vt.css";


const here = parseInt(Astro.url.pathname.replace(/\/$/,"").split("/").pop() ?? "4", 10);
---
<Layout title="Fish Pond Center">
  <main style={`background-image: url(${fishpond.src});`}>
    <Animals/>
    <Navigation here={here} />
    <Panel>
      <h1><WaveText text="Inside the Fishpond"/></h1>
      <p>Follow the fish’s lead: N, E, S, S, W, W, S, S!</p>
      <p>(1/9)</p>
    </Panel>
  </main>
</Layout>
<style is:global>
.panel {
  top: 5vh;
  left: 5vw;
  width: 90vw;
  max-width: 640px;
  p {
    font-size: 1.6rem;
  }
}
</style>
