---
import Layout from "./_Layout.astro";
import Navigation from "./_Navigation.astro";
import Animals from "./_Animals.astro";
import Panel from "./_Panel.astro";
import WaveText from "./_WaveText.astro";
import fishpond from "./_fish-pond.webp";
import "./_vt.css";


const here = parseInt(Astro.url.pathname.replace(/\/$/,"").split("/").pop() ?? "4", 10);
---
<Layout title="Fish Pond SE">
  <main style={`background-image: url(${fishpond.src});`}>
    <Animals/>
    <Navigation here={here} />
    <Panel>
      <h1><WaveText text="Inside the Fishpond"/></h1>
      <p>Use two values a/b for different history back and forward navigation &hellip;</p>
      <p>(5/9) Swim west &hellip;</p>
    </Panel>
  </main>
</Layout>
<style is:global>

.panel {
  top: 10vh;
  left: 10vw;
  width: 80vw;
  max-width: 640px;
  p {
    font-size: 1.6rem;
  }
}
</style>
