---
import fi from "../../assets/fi.png";
import { Image } from "astro:assets";
---

<p class="desc">
  Why is this thing called <i>Camshaft</i>? Take <a href="/shaft-demo2/1/#bot">Step 3</a> to find out after another sliding transition without
  pseudo-smooth-scrolling.
</p>
<Image id="fi" src={fi} alt="" />

<h2>Lorem Ipsum Text 2</h2>

<p class="lorem">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
  Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at
  nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
  tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
  nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia
  nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at
  dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc
  egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non,
  massa.
</p>
<p class="lorem">
  Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus,
  ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
  velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis,
  tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
  Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat
  imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
  eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.
</p>
<p class="lorem">
  Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus,
  ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
  velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis,
  tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
  Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat
  imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
  eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.
</p>
<p class="lorem">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
  Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at
  nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
  tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
  nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia
  nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at
  dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc
  egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non,
  massa.
</p><p class="lorem">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
  Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at
  nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
  tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
  nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia
  nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at
  dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc
  egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non,
  massa.
</p>
<p class="lorem">
  Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus,
  ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
  velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis,
  tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
  Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat
  imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
  eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.
</p>
<p class="lorem">
  Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus,
  ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
  velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis,
  tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
  Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat
  imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
  eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.
</p>
<p class="lorem">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
  Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at
  nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
  tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
  nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia
  nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at
  dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc
  egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non,
  massa.
</p>
<p id="bot" class="desc">This is the effect with the Cam-Shaft:</p>

<div id="outerouter">
  <div id="outer">
    <div id="dia">
      <div>Page 1, step 0/4</div>
      <div><br /><br /><br /><br /><br />Page 2, step 1</div>
      <div>Page 2, step 2</div>
      <div><br /><br /><br /><br /><br />Page 1, step 3</div>
      <div>Page 1, step 0/4</div>
      <div><br /><br /><br /><br /><br />Page 2, step 1</div>
      <div>Page 2, step 2</div>
      <div><br /><br /><br /><br /><br />Page 1, step 3</div>
      <div>Page 1, step 0/4</div>
      <div><br /><br /><br /><br /><br />Page 2, step 1</div>
      <div>Page 2, step 2</div>
      <div><br /><br /><br /><br /><br />Page 1, step 3</div>
    </div>
    <div id="screen">Viewport</div>
  </div>
</div>
<p class="desc">
  The Cam-Shaft adjusts the vertical alignment between the old and new images
  within the transition group. Instead of aligning the tops of the images, it
  shifts the images so that the current content of the old image aligns with the
  future position of the new image.
</p>

<p class="desc">
  Take <a href="/shaft-demo2/2/">Step 2</a> to enjoy the sliding transition without
  pseudo-smooth-scrolling.
</p>

<style is:global>
  #fi {
    transform: rotateY(180deg) translateX(-20vw);
  }
</style>
