---
import fi from "../../assets/fi.png";
import { Image } from "astro:assets";
---

<p class="desc">
  Cross-document view transitions that change the current vertical scroll position tend to show a <a href="/shaft-demo/1/">pseudo-smooth-scrolling</a> effect with <a href="/basics/pseudos/">pseudo-elements</a> that are taller than the viewport.
</p>

<p class="desc">
  <b>Not so with the Cam-Shaft</b>: Even though the vertical scroll position changes while you navigate through the steps in the navigation bar, you will only notice the horizontal sliding effect, no vertical scrolling.
</p>

<p class="desc">Take <a href="/shaft-demo2/2/#bot">Step 1</a> to see why the Cam-Shaft is called Cam-Shaft.</p>

<h2>Lorem Ipsum Text 1</h2>

<p class="lorem">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
  Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at
  nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
  tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
  nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia
  nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at
  dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc
  egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non,
  massa.
</p>
<p class="lorem">
  Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus,
  ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
  velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis,
  tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
  Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat
  imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
  eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.
</p>
<p class="lorem">
  Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus,
  ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
  velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis,
  tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
  Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat
  imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
  eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.
</p>
<p class="lorem">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
  Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at
  nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
  tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
  nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia
  nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at
  dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc
  egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non,
  massa.
</p><p class="lorem">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
  Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at
  nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
  tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
  nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia
  nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at
  dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc
  egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non,
  massa.
</p>
<p class="lorem">
  Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus,
  ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
  velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis,
  tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
  Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat
  imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
  eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.
</p>
<p class="lorem">
  Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus,
  ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
  velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis,
  tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
  Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat
  imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
  eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.
</p>
<p class="lorem">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
  Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at
  nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
  tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
  nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia
  nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at
  dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc
  egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non,
  massa.
</p>
<p class="desc" id="bot">The animation below might give you a clue as to how the script got its name.
</p>

<div id="outerouter">
  <div id="outer">
    <div id="dia">
      <div>Page 1, step 0/4</div>
      <div><br /><br /><br /><br /><br />Page 2, step 1</div>
      <div>Page 2, step 2</div>
      <div><br /><br /><br /><br /><br />Page 1, step 3</div>
      <div>Page 1, step 0/4</div>
      <div><br /><br /><br /><br /><br />Page 2, step 1</div>
      <div>Page 2, step 2</div>
      <div><br /><br /><br /><br /><br />Page 1, step 3</div>
      <div>Page 1, step 0/4</div>
      <div><br /><br /><br /><br /><br />Page 2, step 1</div>
      <div>Page 2, step 2</div>
      <div><br /><br /><br /><br /><br />Page 1, step 3</div>
    </div>
    <div id="screen">Viewport</div>
  </div>
</div>

<style is:global>
  #outer{width:400px;}
</style>
<Image id="fi" src={fi} alt="" />

<p class="desc">
  Take <a href="/shaft-demo2/1/">Step 4</a> to retrun to the beginning of this demo or click the "Exit"
  button in the header to exit the demo.
</p>


