---
import Layout from "./_Layout.astro";
---

<Layout title="Auto 1">
  <body id="body">
    <h2 id="hid">Auto 1</h2>
    <p id="p1">This is another test page for view transitions.</p>
    <p id="p2">
      <a id="click" href="/auto/Auto2/">Go to Page Auto 2</a>
      <button id="button">Click Me</button>
    </p>
  </body>


</Layout>
