---
import XL from "./_layout.astro";
---

<XL>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, rem,
    consequatur earum debitis sapiente sequi ratione fuga totam tenetur, tempore
    reprehenderit assumenda autem minus nisi voluptatum incidunt cum vel
    delectus.
  </p>
  <dialog style="backdrop-filter: url('xx://i-want-to-send-some-data');">
    <h1>This is Page 1</h1>
    <a href="/backdrop-demo/page2/">Go to page 2</a>
  </dialog>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolore
    doloribus commodi culpa debitis. Ipsum dolor asperiores distinctio! Odit
    commodi necessitatibus perferendis ab nobis earum voluptas? Consequatur
    explicabo necessitatibus iusto!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, laborum!
    Saepe aliquid sint minima, adipisci modi asperiores nostrum, nesciunt velit
    ea illo inventore quam non facere accusantium aliquam. Nisi, expedita!
  </p>
  <style>
    dialog {
      view-transition-name: dialog;
      position: fixed;
      inset: 30%;
      width: 40%;
      height: 40%;
      border: 5px solid darkslateblue;
      padding: 20px;
      font-size: 20px;
    }
  </style>
</XL>
