---
import XL from "./_layout.astro";
---

<XL>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, rem,
    consequatur earum debitis sapiente sequi ratione fuga totam tenetur, tempore
    reprehenderit assumenda autem minus nisi voluptatum incidunt cum vel
    delectus.
  </p>
  <dialog>
    <h1>This is X2</h1>
    <a href="/backdrop-demo/page1/">Go to page 1</a>
  </dialog>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolore
    doloribus commodi culpa debitis. Ipsum dolor asperiores distinctio! Odit
    commodi necessitatibus perferendis ab nobis earum voluptas? Consequatur
    explicabo necessitatibus iusto!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, laborum!
    Saepe aliquid sint minima, adipisci modi asperiores nostrum, nesciunt velit
    ea illo inventore quam non facere accusantium aliquam. Nisi, expedita!
  </p>
  <style>
    dialog {
      view-transition-name: dialog;
      position: fixed;
      inset: 20%;
      width: 60%;
      height: 60%;
      border: 5px solid darkolivegreen;
      padding: 20px;
      font-size: 20px;
    }
  </style>
</XL>
